//
//  InternalTarget.xcconfig
//  MomentApp
//
//  Created by user on 2021/4/14.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Pods/Target Support Files/Pods-MomentApp/Pods-MomentApp.internal.xcconfig"
#include "BaseTarget.xcconfig"

PRODUCT_BUNDLE_NAME = $(inherited) β
PRODUCT_BUNDLE_IDENTIFIER = com.jacob.MomentApp.internal
